
.buttonsignup{

  -fx-background-color: #D3D3D3;

  -fx-background-insets: 0, 1;
  -fx-text-fill: #ffffff;
  -fx-font-family: Arial;
  -fx-font-size: 10px;
  -fx-padding: 10px 20px;
  -fx-text-decoration: none;
  -fx-effect: dropshadow(three-pass-box, #666666, 3, 0, 0, 0);
  -fx-cursor: hand;
  -fx-opacity: 0.7;


  
}
.buttonsignup:hover{

  -fx-background-color: #00FFFF;
  -fx-opacity: 1;
  -fx-cursor: hand;


  
}



.buttonin2{
  -fx-background-color: #00FFFF;
  -fx-cursor: hand;
  -fx-opacity: 0.7;
  -fx-background-radius: 0px 0px 168px 181px;

  -fx-border-radius: 0px 0px 168px 181px;
  -fx-background-insets: 0, 1;
  -fx-text-fill: #ffffff;
  -fx-font-family: Arial;
  -fx-font-size: 20px;
  -fx-padding: 10px 20px;
  -fx-text-decoration: none;
  -fx-effect: dropshadow(three-pass-box, #666666, 3, 0, 0, 0);

}

.buttonin2:hover{
  -fx-background-color: #00FFFF;
  -fx-opacity: 1;
} 

.buttonin2:focused{
  -fx-border-color: #338ae0;
  -fx-border-radius: 10px;
  -fx-border-radius: 0px 0px 168px 181px;
  -fx-text-fill: #272f3e;
  -fx-opacity: 1;



}
.button3:focused{
  -fx-border-color: #338ae0;
  -fx-border-radius: 10px;
  -fx-border-radius: 0px 0px 168px 181px;
  -fx-text-fill: #272f3e;
  -fx-opacity: 1;



}

.backde{
    -fx-background-color: #008A53;

    -fx-background-radius: 20px;
    

}

.buttonmasuk {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: normal;
    -fx-text-fill: #fff;
    -fx-background-color: #395346;
    
    -fx-background-radius: 40px;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-opacity: 1;
  }
  
  .buttonmasuk:hover {
    -fx-background-color: #395346;
    -fx-opacity: 0.8;
    
  }


#textfield2 {
    -fx-background-color:rgb(255, 255, 255) ;
    -fx-background-radius: 10px;

    -fx-border-color: black;


    -fx-border-width: 0px 0px 2px 0px ;

    -fx-transition :  -fx-border-width 1s;
    
    
    
  }


#textfield2:focused {
    -fx-background-color:rgb(241, 241, 241) ;

    -fx-border-width: 0px 0px 2px 0px ;
    
    
    -fx-border-color: #338ae0;
    /* -fx-border-radius: 10px; */
    
}



.buttonchosesignas{
  -fx-background-color: #44725b;
  -fx-background-radius: 20px;
  -fx-border-radius: 20px;

  -fx-border-width: 0px 0px 0px 0px ;
  -fx-border-color: rgb(99, 69, 69);
  -fx-translate-y: 0;
  -fx-transition: -fx-border-width 0.6s,
                  -fx-translate-y 0.6s;




  
}


.buttonchosesignas:hover{

  -fx-border-width: 0px 0px 3px 0px ;

  -fx-translate-y: -5;

}

  