.ground{
    -fx-background-color: linear-gradient( #efd5ff 0%, #515ada 100%);
}

.custom-textfield {
    -fx-padding: 2px;
    -fx-font-size: 16px;
    -fx-border-width: 2px;
    -fx-border-color: #CCCCCC;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-style: solid;
    -fx-border-radius: 11px;
    -fx-background-radius: 11px;
    -fx-effect: dropshadow(gaussian, rgba(66,66,66,0.75), 0, 0, 0, 5);
}